<div id='mainMenu'>
	<%= link_to "Log In", new_session_path, remote: true, id: 'main_menu_login', class: 'button' %>
	<%= link_to "Create a New Account", new_user_path, remote: true, id: 'mainMenuCreate', class: 'button' %>
	<%= link_to "About", about_path, remote: true, id: 'mainMenuAbout', class: 'button' %>
</div>