<div id='about'>
  <h3>About This Game</h3>
  <p>This game is a recreation of the 1989 Game Boy classic created by Alexey Pajitnov in 1984. Tetris almost single handedly "made Game Boy" when it became bundled with every console. This recreation was coded by 
  <%= link_to 'Jimmy Wong', 'https://github.com/jimwong1023/', target: '_blank' %>.</p>

  <p>I'd like to thank my friend <%= link_to 'Dan Apczynski', 'http://danapczynski.com', target: '_blank' %> for giving me the inspiration to start on this project and for allowing me to use his awesome Game Boy CSS!</p>
  
  <%= link_to "View on Github", 'https://github.com/jimwong1023/tetris', target: '_blank', class: 'button' %>
  <%= link_to "Go Back", root_path, class: 'button' %>
</div>