<div id='about'>
  <h3>About This Game</h3>
  <p>This game is an adaptation of a terrific (but largely forgotten) GameBoy puzzle game called Daedalian Opus, created in Ruby on Rails by San Francisco web developer
  <%= link_to 'Dan Apczynski', 'http://danapczynski.com', target: '_blank' %>.</p>

  <p>While this app was built from scratch, the concept and puzzle design are entirely borrowed from the original game, which you can read more about 
  <%= link_to 'here', 'http://en.wikipedia.org/wiki/Daedalian_Opus', target: '_blank' %>.</p>
  
  <%= link_to "View on Github", 'https://github.com/danapczynski/puzzle_game_opus', target: '_blank', class: 'button' %>
  <%= link_to "Go Back", root_path, class: 'button' %>
</div>