<div id="board">
	<div id='mainMenu'>
		<h1 id='gameTitle'>Tetris</h1>
		<div id="startGame" class="button">Start Game</div>
		<div id="main_menu_about" class="button">About</div>
	</div>
	<div id="canvasContainer" class="hidden">
	  <canvas id="canvas" width="300" height="600"></canvas>
	  <div id="gameInfo">
	  	<p id="level">Level: <span>1</span></p>
	  	<p id="score">Score: <span >0</span></p>
	  </div>
	</div>
</div>