<div id="board">
	<div id='mainMenu'>
		<h1 id='gameTitle'>Tetris</h1>
		<a id="startGame" class="button" href="#">Start Game</a>
		<%= link_to "About", "#", id: 'main_menu_about', class: 'button' %>
	</div>
	<canvas id="canvas" width="300" height="600"></canvas>
</div>