body {
  background: #C8C8C8;
  background-repeat: no-repeat;
  background-size: 960px auto;
  font-family: Helvetica;
}

#gray_border {
  background-color: #585869;
  margin: 30px auto;
  width: 900px;
  height: 710px;
  position: relative;
  border: 3px solid #484859;
  border-radius: 20px;
  border-bottom-right-radius: 170px;
  box-shadow: 1px 1px 1px 1px #000,
              -1px -1px 1px 1px #000;
}

#battery {
  position: absolute;
  color: #C8C8C8;
  top: 300px;
  left: 35px;
}

#battery_indicator {
  display: block;
  background-color: #FF0000;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  border: 1px solid #880000;
  margin: 0 auto;
  box-shadow: 1px 0 1px 1px #330000,
              0 1px 1px 1px #330000,
              0 -1px 1px 1px #330000,
              -1px 0 1px 1px #330000;
}

#matrix {
  position: absolute;
  left: 30px;
  color: #C8C8C8;
  font-size: 14pt;
  font-weight: lighter;
}

#matrix p {
  display: inline-block;
  margin: 10px 10px;
}

#left_lines {
  width: 385px;
  display: inline-block;
}

#right_lines {
  width: 100px;
  display: inline-block;
}

#left_pink {
  border-bottom: 4px solid #FF00FF;
  height: 4px;
}

#left_purple {
  border-bottom: 4px solid #000099;
  height: 4px;
}

#right_pink {
  border-bottom: 4px solid #FF00FF;
  height: 4px;
}

#right_purple {
  border-bottom: 4px solid #000099;
  height: 4px;
}

#main {
  background-color: #476200;
  border: 4px solid #000;
  border-radius: 5px;
  width: 600px;
  height: 600px;
  position: absolute;
  top: 50px;
  left: 150px;
  color: #222200;
  font-size: 18pt;
  padding: 0 3px;
}

#canvas {
	border: 2px solid #000;
}

#gameTitle {
  text-align: center;
  font-size: 45pt;
  font-weight: bold;
  margin-bottom: 20px;
}

#mainMenu {
  margin: 0 auto;
  width: 400px;
}

.button {
  display: block;
  height: 40px;
  width: 400px;
  margin: 10px auto;
  border: 1px solid #222200;
  background-color: #476200;
  color: #222200;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}

.button:hover, .submit-button:hover, .levels_nav:hover{ 
  color: #476200;
  background-color: #222200;
  text-decoration: none;
}